/*admin panel*/
.align{
    text-align: center;
}
/*add meme form*/
.form{
    background-color:#fff; 
    padding: 20px; border: 
    1px solid rgba(0, 0, 0, 0.125);
}
.formHeader{
    background-color:#fff; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.formImg{
    display: none; 
    width: 150px; height: auto; 
    margin-top: 30px; 
    border-radius: 3px; border: 1px solid;
}
/*all memes*/
.meme{
    width: 18rem;
}
.memeTitle{
    background: #888; color: white; 
    margin-bottom: 15px; 
    border-bottom-right-radius: 7px; 
    padding-top: 5px;
}
.memeUser{
    padding-top: 5px;
}
.memeFontLike{
    color:green;
}
.memeFontDislike{
    color:red;
}
.modalStatus{
    text-align:center;
}
.modalDelete{
    text-align:center;
}
/*comments*/
.comment{
    width: 18rem;
}
.commentsList
{
    list-style-type:none;
}
.commentTitle{
    background: #888; 
    color: white; 
    margin-bottom: 15px; 
    border-bottom-right-radius: 7px; 
    padding-top: 5px;
}
.commentUser{
    padding-top: 5px;
}
.commentSpan{
    font-size: 17px;
}
.commentHr{
    width: 100%; 
    color: black; 
    height: 1px; 
    background-color:gray;
}
.commentModal{
    text-align: center;
}
.commentList{
    background-color: #f8fafc; 
    padding: 15px; 
    border-radius: 5px; 
    border: 1px solid lightgray;
}
/*account*/
.accountForm{
    background: white; 
    border-radius: 5px; 
    border: 1px solid gray; 
    padding: 15px;
}
.accountFormHeader{
    background-color:#fff; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.formPassword{
    background: white; 
    border-radius: 5px; 
    border: 1px solid gray; 
    padding: 15px;
}
.formPasswordHeader{
    background-color:#fff; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}